body {
  background-color: #ff990043;
}

.card {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1); 
}
.container .card {
  background-color: #b9bfc6 !important;
}


.custom-alert {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.custom-alert.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal-dialog {
  max-width: 400px;
  margin: 150px auto;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: relative; 
}

.modal-body {
  margin-bottom: 20px;
}

.modal-icon {
  color: #155724; 
  font-size: 48px;
  margin-bottom: 20px;
}
@media (max-width: 735px) {
  .card {
    margin-top: 12rem;
  }
}
@media (max-width: 310px) {
  .card {
    margin-top: 20rem;
  }
}
@media (max-width: 280px) {
  .card {
    margin-top: 13rem; 
  }
}






 