* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr); */
  grid-gap: 5rem;
  justify-content: space-between;
  margin: 13rem;
  min-width: 400px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  height: 15rem;
}

.card img {
  width: 100%;
  height: 100%;
}

.card-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 30px rgb(0, 0, 0);
}

.card img {
  transition: transform 0.5s ease;
}

.card:hover img {
  transform: scale(1.2);
}

.container {
  background-image: url("https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vw;
  min-width: 1400px;
}
.container-info {
  display: grid;
  font-size: x-large;
  font-family: monospace;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 25rem;
}

.botones {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  margin-top: -20rem;
}
.botones button {
  background-color: #55555507;
  border: solid 1px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  font-family: monospace;
}
.botones button a {
  text-decoration: none;
  color: black;
}
.botones button:hover {
  transform: translateY(-4px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 1);
  background-color: #ff9800;
}


/* @media screen and (min-width: 1400px) {
  .card {
    width: 60%;
  }
}  */
/* @media screen and (min-width: 1200px) {
  .grid-container {
    justify-items: center;
    margin-left: 5rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem ;
    margin-left: -4rem ;

  }
  .card {
    width:33%;
    height: 15rem;
  }
} */
@media screen and (min-width: 992px) {
  .grid-container {
    justify-items: center;
    margin-left: -50rem  ;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .card {
    width:30rem ;
  }
  .container-info {
    display: grid;
    font-size: x-large;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 5);
    color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-left: 26rem ;
    padding-top: 30rem ;
  }
  .botones {
    margin-top: -23.5rem;
    margin-left: 10rem;
    padding-left: 2rem;
  }
  .container {
    height: 1rem;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 100%;
  }
  .container-info {
    display: grid;
    font-size: x-large;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 5);
    color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: -6rem;
    margin-left: 1rem;
  }
  .botones {
    margin-top: -23.5rem;
    margin-left: 10rem;
    padding-left: 2rem;
  }
  .container {
    height: 1rem;
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 16rem;
  }
  .card-container {
    width: 30rem;
  }
  .card {
    width: 60rem;
    height: 27rem;
  }
  .card-description {
    font-size: 3rem;
  }
  .container-info {
    display: grid;
    font-size: 3rem;
    padding-top: 22rem;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 5);
    color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-left: 27rem;
  }
  .container {
    height: 90rem;
    width: 100%;
  }
  .botones {
    margin-top: -22.5rem;
    margin-left: 1rem;
  }
  .botones button {
    width: 25%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0.395);
  }
  .botones button a {
    font-size: 3rem;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 5);
    color: white;
  }
}

@media (min-width: 301px) and (max-width: 575.98px) {
  .grid-container {
    display: grid;
    justify-content: center;
    margin-left: 30rem;
  }
  .card-container{
    min-width: 60rem;
  }
  .card {
    width: 100%;
    height: 29rem;
  }
  .card-description {
    font-size: 3rem;
  }
  .container-info {
    display: grid;
    font-size: 2.5rem;
    padding-top: 18rem;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 5);
    color: rgb(255, 255, 255);
    justify-items: center;
    margin-left: 5rem;
  }
  .container {
    height: 75rem;
    width: 100%;
  }
  .botones {
    margin-top: -20.5rem;
    margin-left: 6rem;
  }
  .botones button {
    width: 25rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0.395);
  }
  .botones button a {
    font-size: 3rem;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 5);
    color: white;
  }
}

@media screen and (max-width: 300px) {
  .grid-container {
    display: grid;
    justify-content: center;
    margin-left: 23rem;
    justify-items: center;
  }
  .card-container{
    max-width: 60rem;
  }
  .card {
    width: 60rem;
    height: 30rem;
  }
  .container-info {
    display: grid;
    font-size: 3rem;
    padding-top: 20rem;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 5);
    color: rgb(255, 255, 255);
    justify-items: center;
    margin-left: -10rem;
  }
  .container {
    height: 90rem;
    width: 100%;
  }
  .botones {
    margin-top: -20.5rem;
    margin-left: -13rem;
  }
  .botones button {
    width: 25rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0.395);
  }
  .botones button a {
    font-size: 3rem;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 5);
    color: white;
  }
}