.navbar-home {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.464);
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-home ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.navbar-home li {
  border: solid 2px rgb(11, 11, 11);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.navbar-home li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 1);
  background-color: #ff9800;
  border: solid 2px rgb(180, 177, 177);
  transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
  
}

.navbar-home li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: x-large;
  font-family: 'Mukta', sans-serif;
  color: black;
}

@media (max-width: 767px) {
  .navbar-home li {
    font-size: small;
    padding: 2px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar-home li {
    font-size: small;
    padding: 4px;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .navbar-home li {
    font-size: medium;
    padding: 6px;
    width: auto;
  }
}

@media (min-width: 1536px) {
  .navbar-home li {
    font-size: medium;
    padding: 6px;
    width: auto;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  .navbar-home ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .navbar-home li {
    width: 100%;
    max-width: 150px;
    padding: 2px;
  }
}

@media (max-width: 280px){
  .navbar-home ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    margin-top: -25px;
  }

  .navbar-home li {
    width: 50%;
    max-width: 100px;
    padding: 2px;
  }
}

